In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
#!pip category_encoders
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import seaborn as sns; sns.set()
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import StandardScaler
from sklearn import ensemble
from sklearn.metrics import accuracy_score
import scipy.stats as stats
from sklearn.feature_extraction.text import TfidfVectorizer
#import category_encoders as ce
import warnings
import gc
import psutil 
from lightgbm import LGBMClassifier
warnings.filterwarnings('ignore')
%matplotlib inline

os.chdir('/content/drive/My Drive/ML/FinalProject/VEFFinalProject')
os.chdir('predict-stock')
#os.chdir('dataset')
!ls dataset

ls: cannot access 'dataset': No such file or directory

In [0]:
#!gunzip market_train_uni1_v1.csv.gz

In [0]:
#!gunzip news_market_train_uni1_v1.csv.gz

In [0]:
!ls dataset

market_train_uni1_v1.csv  news_market_train_uni1_v1.csv

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [0]:
market_dt = pd.read_csv('/content/drive/My Drive/ML/FinalProject/dataset/market_train_uni1_v1.csv')
market_null_list = market_dt.columns[market_dt.isna().any()].tolist()
imp = Imputer(missing_values='NaN', strategy='median', axis=0)
imp = imp.fit(market_dt[market_null_list])
market_dt[market_null_list] = imp.transform(market_dt[market_null_list])

In [7]:
market_dt.tail(20)

                              time  ... cluster_prev_returns
2423130  2016-12-30 22:00:00+00:00  ...                    0
2423131  2016-12-30 22:00:00+00:00  ...                    0
2423132  2016-12-30 22:00:00+00:00  ...                    0
2423133  2016-12-30 22:00:00+00:00  ...                    0
2423134  2016-12-30 22:00:00+00:00  ...                    0
2423135  2016-12-30 22:00:00+00:00  ...                    0
2423136  2016-12-30 22:00:00+00:00  ...                    0
2423137  2016-12-30 22:00:00+00:00  ...                    0
2423138  2016-12-30 22:00:00+00:00  ...                    0
2423139  2016-12-30 22:00:00+00:00  ...                    0
2423140  2016-12-30 22:00:00+00:00  ...                    0
2423141  2016-12-30 22:00:00+00:00  ...                    0
2423142  2016-12-30 22:00:00+00:00  ...                    0
2423143  2016-12-30 22:00:00+00:00  ...                    0
2423144  2016-12-30 22:00:00+00:00  ...                    0
2423145  2016-12-30 22:00:00+00:00  ...                    0
2423146  2016-12-30 22:00:00+00:00  ...                    0
2423147  2016-12-30 22:00:00+00:00  ...                    0
2423148  2016-12-30 22:00:00+00:00  ...                    0
2423149  2016-12-30 22:00:00+00:00  ...                    0

[20 rows x 21 columns]

In [0]:
news_dt = pd.read_csv('/content/drive/My Drive/ML/FinalProject/dataset/news_market_train_uni1_v1.csv')

In [0]:
news_dt.columns

Index(['time', 'sourceTimestamp', 'firstCreated', 'sourceId', 'headline',
       'urgency', 'takeSequence', 'provider', 'subjects', 'audiences',
       'bodySize', 'companyCount', 'headlineTag', 'marketCommentary',
       'sentenceCount', 'wordCount', 'assetCodes', 'assetName',
       'firstMentionSentence', 'relevance', 'sentimentClass',
       'sentimentNegative', 'sentimentNeutral', 'sentimentPositive',
       'sentimentWordCount', 'noveltyCount12H', 'noveltyCount24H',
       'noveltyCount3D', 'noveltyCount5D', 'noveltyCount7D', 'volumeCounts12H',
       'volumeCounts24H', 'volumeCounts3D', 'volumeCounts5D',
       'volumeCounts7D'],
      dtype='object')

In [0]:
#df=news_dt[(pd.to_datetime(news_dt["time"]).apply(lambda x : x.year)==2010) & (pd.to_datetime(news_dt["time"]).apply(lambda x : x.month)==9)  ]

In [0]:
#df=df[(pd.to_datetime(df["time"]).apply(lambda x : x.day)==1) ]

In [0]:
#df=df[(df["assetCodes"].apply(lambda x : 'AMZN' in x))]

In [0]:
'''
def check_news_one_day_one_stock(df):
    df1=df[(pd.to_datetime(df["time"]).apply(lambda x : x.year)==2010) & (pd.to_datetime(df["time"]).apply(lambda x : x.month)==9) ]
    df1=df1[(pd.to_datetime(df1["time"]).apply(lambda x : x.day)==1) ]
    df1=df1[(df1["assetCodes"].apply(lambda x : 'AMZN' in x))]
    return df1

def check_price_one_day_one_stock(df):
    df1=df[(pd.to_datetime(df["time"]).apply(lambda x : x.year)==2010) & (pd.to_datetime(df["time"]).apply(lambda x : x.month)==9) ]
    df1=df1[(pd.to_datetime(df1["time"]).apply(lambda x : x.day)==1) ]
    df1=df1[(df1["assetCode"].apply(lambda x : 'AMZN' in x))]
    return df1
'''

In [0]:
def label_cat(df, col):
    return df[col].astype('category').cat.as_ordered()

def bin_encode(df, cols_to_bin):
    ce_bin = ce.BinaryEncoder(cols = cols_to_bin)
    return ce_bin.fit_transform(df)

# Find all features with NaN's
def get_null_features(df):
    return df.columns[df.isna().any()].tolist()

# Returns either month, day or year of date -> expedites feature engineering 
def get_date_feature(df, col, date_type):
    if (date_type == 'year'):
        return pd.to_datetime(df[col]).dt.year
    elif (date_type == 'month'):
        return pd.to_datetime(df[col]).dt.month
    elif (date_type == 'quarter'):
        return pd.to_datetime(df[col]).dt.quarter
    else:
        return pd.to_datetime(df[col]).dt.dayofweek

# Helper function to print accuracy
def print_accuracy(model, x, y, x_val, y_val):
    print("Training Accuracy Score: ", accuracy_score(model.predict(x), y))
    print("Validation Accuracy Score: ", accuracy_score(model.predict(x_val), y_val))
    
# Helper function to get feature importances
def get_feature_imp(model, x):
    return pd.DataFrame(model.feature_importances_,
                                   index = x.columns,
                                    columns=['importance']).sort_values('importance', ascending=False)

# Calculate the RSI
def RSI(series, period):
    delta = series.diff().dropna()
    u = delta * 0
    d = u.copy()
    u[delta > 0] = delta[delta > 0]
    d[delta < 0] = -delta[delta < 0]
    u[u.index[period-1]] = np.mean( u[:period] ) #first value is sum of avg gains
    u = u.drop(u.index[:(period-1)])
    d[d.index[period-1]] = np.mean( d[:period] ) #first value is sum of avg losses
    d = d.drop(d.index[:(period-1)])
    rs = u.ewm(com=period-1, adjust=False).mean() / d.ewm(com=period-1, adjust=False).mean()
    return 100 - 100 / (1 + rs)

# 80%, 20%
def temploral_split(df, labels):
    X_train, X_val = np.split(df, [int(.8*len(df))])
    y_t, y_v = np.split(labels, [int(.8*len(labels))])
    
    y_train = y_t > 0    
    y_val = y_v > 0
    
    return [X_train, y_train, X_val, y_val]

# Join 2 dataframes
def join_df(left, right, left_on, right_on=None, suffix='_y'):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", suffix))

# Random search for temporal data
def random_search(model, param_grid, X_train, y_train, X_val, y_val):
    best_acc = 0
    for i in range(10):
        params = {k: np.random.choice(v) for k, v in param_grid.items()}
        params['n_jobs'] = -1
        new_model = model(**params)
        new_model.fit(X_train, y_train)
        acc = accuracy_score(new_model.predict(X_val), y_val)

        if acc > best_acc or best_acc == 0:
            best_acc = acc
            best_params = params
    print(f'Best Score: {best_acc}')
    print(f'Best Paramas: {best_params}')
    return best_params, best_acc

In [0]:
# Prep market data
# input: market dataframe
# output: preprocessed and feature engineered dataframe
def prep_market(df):
    
    
    #df['time'] = df.time.dt.strftime("%Y%m%d").astype(int)
    
    # Create year, month, day features
    df['month'] = get_date_feature(df, 'time', 'month')
    df['day'] = get_date_feature(df, 'time', 'day')
    df['quarter'] = get_date_feature(df, 'time', 'quarter')
    
    # Some feature engineering -> moving averages
    for n in [14, 30, 50, 200]:
        # Create the moving averages
        df['close_ma' + str(n)] = df.groupby('assetCode')['close'].transform(lambda x: x.rolling(window=n).mean())
    
    # Create RSI -> only 14 was useful during feature exploration
    #df['rsi14'] = RSI(df['close'], 14)
    
    # 10 day pct change in volume
    df['vol_pct_change'] = df.groupby('assetCode')['volume'].transform(lambda x: x.pct_change())
    df['vol_pct_10'] = df.groupby('assetCode')['vol_pct_change'].transform(lambda x : x.rolling(window=10).mean())
    
    # Log Returns
    df['log_ret'] = df.groupby('assetCode')['close'].transform(lambda x: np.log(x) - np.log(x.shift()))

    # Momentum
    df['mom1'] = df.groupby('assetCode')['close'].transform(lambda x: x.pct_change(periods=1))
    df['mom2'] = df.groupby('assetCode')['close'].transform(lambda x: x.pct_change(periods=2))
    df['mom3'] = df.groupby('assetCode')['close'].transform(lambda x: x.pct_change(periods=3))
    df['mom4'] = df.groupby('assetCode')['close'].transform(lambda x: x.pct_change(periods=4))
    df['mom5'] = df.groupby('assetCode')['close'].transform(lambda x: x.pct_change(periods=5))
    df['mom5'] = df.groupby('assetCode')['close'].transform(lambda x: x.pct_change(periods=7))
    df['mom10'] = df.groupby('assetCode')['close'].transform(lambda x: x.pct_change(periods=10))

    # Volatility
    df['volatility_50'] = df.groupby('assetCode')['log_ret'].transform(lambda x: x.rolling(window=50, min_periods=50, center=False).std())
    df['volatility_31'] = df.groupby('assetCode')['log_ret'].transform(lambda x: x.rolling(window=31, min_periods=31, center=False).std())
    df['volatility_15'] = df.groupby('assetCode')['log_ret'].transform(lambda x: x.rolling(window=15, min_periods=15, center=False).std())
    window_autocorr = 50

    #market_dt['autocorr_1'] = market_dt['log_ret'].rolling(window=window_autocorr, min_periods=window_autocorr, center=False).apply(lambda x: x.autocorr(lag=1), raw=False)
    #market_dt['autocorr_2'] = market_dt['log_ret'].rolling(window=window_autocorr, min_periods=window_autocorr, center=False).apply(lambda x: x.autocorr(lag=2), raw=False)
    #market_dt['autocorr_3'] = market_dt['log_ret'].rolling(window=window_autocorr, min_periods=window_autocorr, center=False).apply(lambda x: x.autocorr(lag=3), raw=False)
    #market_dt['autocorr_4'] = market_dt['log_ret'].rolling(window=window_autocorr, min_periods=window_autocorr, center=False).apply(lambda x: x.autocorr(lag=4), raw=False)
    #market_dt['autocorr_5'] = market_dt['log_ret'].rolling(window=window_autocorr, min_periods=window_autocorr, center=False).apply(lambda x: x.autocorr(lag=5), raw=False)

    # drop 200 rows -> this is because of the moving average calculations
    df.dropna(inplace=True)
    _ = gc.collect()
    
    # These were identified in part 2 -> returnsOpenNextMktres10 is the dependant var
    train_cols = ['returnsClosePrevRaw10',
                  'returnsClosePrevMktres10',  
                  'close',
                  #'rsi14', 
                  'assetCode',
                  'month', 
                  'close_ma14',
                  'close_ma200',
                  'close_ma30',
                  'volume',
                  'close_ma50',
                  'returnsClosePrevMktres1', 
                  'returnsClosePrevRaw1',
                  'returnsOpenPrevRaw1',
                  'vol_pct_10',
                  'day',
                  'quarter',
                  'time',
                  'mom1',
                  'mom2',
                  'mom3',
                  'mom4',
                  'mom5',
                  'mom10',
                  'volatility_50',
                  'volatility_31',
                  'volatility_15'
                   ]
    
    # This is for the final trainin set contidion
    if 'returnsOpenNextMktres10' in df.columns:
        train_cols = train_cols + ['returnsOpenNextMktres10']
    
    df = df[train_cols]
    
    return df

# Prep news data
# input: news dataframe
# output: preprocessed and feature engineered dataframe
def prep_news(df):
    
    drop_list = [
        'audiences', 'subjects', 'assetName',
        'firstCreated', 'sourceTimestamp',
    ]
    df.drop(drop_list, axis=1, inplace=True)
    _ = gc.collect()
    
    # convert the date
    #df['time'] = df.time.dt.strftime("%Y%m%d").astype(int)
    
    # convert the assets codes to a usable format
    df['assetCode'] = df['assetCodes'].map(lambda x: list(eval(x))[0])
    
    # encode provider
    df['provider'] = label_cat(df, 'provider').cat.codes

    # determine the proportion of the news item discussing the asset
    df['coverage'] = df['sentimentWordCount'] / df['wordCount']

    # relative position of the first mention in the item
    df['position'] = df['firstMentionSentence'] / df['sentenceCount']
    
    # Drop some unnecessary news features 
    droplist = ['takeSequence','headlineTag',
                'assetCodes', 'headline', 'marketCommentary']

    df.drop(droplist, axis=1, inplace=True)
    _ = gc.collect()
    
    # combine multiple news reports for same assets on same day
    newsgp = df.groupby(['time','assetCode'], sort=False).aggregate(np.mean).reset_index()
    
    return newsgp

In [0]:
'''
# Function for all data processing
# input: market and news dataframe
# output: preprocessed, feature engineered, grouped and joined dataframe
def prep_data(market_train_df, news_train_df):
    market_train = prep_market(market_train_df)
    news_train = prep_news(news_train_df)
    
    joined = join_df(market_train, news_train, ['time', 'assetCode'], ['time', 'assetCode'])

    # many assets that will have many days without news data
    joined[news_train.columns[2:].values] = joined[news_train.columns[2:].values].fillna(value=0)
    joined.drop(['time'], axis=1, inplace=True)
    joined['assetCodeT'] = label_cat(joined, 'assetCode').cat.codes
    
    del market_train
    del news_train
    _ = gc.collect()
    
    return joined
'''

##Process news

In [0]:
def preprocess_news(news_train):
    drop_list = [
        'audiences', 'subjects', 'assetName',
        'headline', 'firstCreated', 'sourceTimestamp',
    ]
    news_train.drop(drop_list, axis=1, inplace=True)
    
    # Factorize categorical columns
    for col in ['headlineTag', 'provider', 'sourceId']:
        news_train[col], uniques = pd.factorize(news_train[col])
        del uniques
    
    # Remove {} and '' from assetCodes column
    news_train['assetCodes'] = news_train['assetCodes'].apply(lambda x: x[1:-1].replace("'", ""))
    return news_train

news_dt = preprocess_news(news_dt)

#Unstack news

In [12]:
def unstack_asset_codes(news_train):
    codes = []
    indexes = []
    for i, values in news_train['assetCodes'].iteritems():
        explode = values.split(", ")
        codes.extend(explode)
        repeat_index = [int(i)]*len(explode)
        indexes.extend(repeat_index)
    index_df = pd.DataFrame({'news_index': indexes, 'assetCode': codes})
    del codes, indexes
    gc.collect()
    return index_df

index_df = unstack_asset_codes(news_dt)
index_df.head()

   news_index assetCode
0           0   0857.HK
1           0    0857.F
2           0   0857.DE
3           0     PTR.N
4           1     STA.N

##merge news on index

In [13]:
def merge_news_on_index(news_train, index_df):
    news_train['news_index'] = news_train.index.copy()

    # Merge news on unstacked assets
    news_unstack = index_df.merge(news_train, how='left', on='news_index')
    news_unstack.drop(['news_index', 'assetCodes'], axis=1, inplace=True)
    return news_unstack

news_unstack = merge_news_on_index(news_dt, index_df)
del news_dt, index_df
gc.collect()
news_unstack.head(3)

  assetCode                       time  ...  volumeCounts5D  volumeCounts7D
0   0857.HK  2007-01-01 04:29:32+00:00  ...               6               7
1    0857.F  2007-01-01 04:29:32+00:00  ...               6               7
2   0857.DE  2007-01-01 04:29:32+00:00  ...               6               7

[3 rows x 29 columns]

#Group by date and asset

In [14]:
def group_news(news_frame):
    news_frame['date'] = pd.to_datetime(news_frame.time).dt.date  # Add date column
    
    aggregations = ['mean']
    gp = news_frame.groupby(['assetCode', 'date']).agg(aggregations)
    gp.columns = pd.Index(["{}_{}".format(e[0], e[1]) for e in gp.columns.tolist()])
    gp.reset_index(inplace=True)
    # Set datatype to float32
    float_cols = {c: 'float32' for c in gp.columns if c not in ['assetCode', 'date']}
    return gp.astype(float_cols)

news_agg = group_news(news_unstack)
del news_unstack; gc.collect()
news_agg.head(3)

  assetCode        date  ...  volumeCounts5D_mean  volumeCounts7D_mean
0   0005.HK  2007-01-02  ...             5.600000             9.800000
1   0005.HK  2007-01-03  ...            13.300000            16.400000
2   0005.HK  2007-01-04  ...            19.666666            23.333334

[3 rows x 29 columns]

In [0]:
#ts_df = prep_data(market_dt, news_dt)
#market_train = prep_market(market_dt) 
market_dt = prep_market(market_dt)

In [16]:
market_dt['date'] = pd.to_datetime(market_dt.time).dt.date
df = market_dt.merge(news_agg, how='left', on=['assetCode', 'date'])
del market_dt, news_agg
gc.collect()
df.head(3)

   returnsClosePrevRaw10  ...  volumeCounts7D_mean
0              -0.071913  ...                  NaN
1               0.050117  ...                  NaN
2              -0.125507  ...             97.35714

[3 rows x 55 columns]

In [0]:
df['assetCodeT'] = label_cat(df, 'assetCode').cat.codes

In [22]:
df.head()

   returnsClosePrevRaw10  ...  assetCodeT
0              -0.071913  ...           0
1               0.050117  ...           3
2              -0.125507  ...           4
3              -0.047320  ...           6
4              -0.064105  ...           8

[5 rows x 56 columns]

In [0]:
def temploral_split(df, label):
    df.drop(['assetCode'],axis=1, inplace=True)
    df.drop(['date'], axis=1, inplace=True)
    #df.drop(['binary_returnsNextMktres10'], axis=1, inplace=True)
    #df = make_news_df(df)
    #slit 80/20
    train, validate = np.split(df, [int(.8*len(df))])
    
    X_train = train.loc[:, ~train.columns.isin([label])]
    y_train = train[label] > 0
    r_train = train[label]
    time_train = train['time']
    
    X_val = validate.loc[:, ~validate.columns.isin([label])]
    y_val = validate[label] > 0
    r_val = validate[label]
    time_val = validate['time']
    X_train.drop(['time'], axis=1, inplace=True)
    X_val.drop(['time'], axis=1, inplace=True)
    return [X_train, y_train, r_train, time_train, X_val, y_val, r_val, time_val]
    
    return [X_train, y_train, X_val, y_val]
def print_accuracy(model, x, y, x_val, y_val):
    print("Training Accuracy Score: ", accuracy_score(model.predict(x), y))
    print("Validation Accuracy Score: ", accuracy_score(model.predict(x_val), y_val))

In [0]:
df_null_list = df.columns[df.isna().any()].tolist()
imp = Imputer(missing_values='NaN', strategy='median', axis=0)
imp = imp.fit(df[df_null_list])
df[df_null_list] = imp.transform(df[df_null_list])

In [23]:

X_train_sample, y_train_sample, r_t,time_t, X_val_sample, y_val_sample, r_v, time_v = temploral_split(df.iloc[-1000000:], 'returnsOpenNextMktres10')
print(f'X_train_sample: {X_train_sample.shape}')
print(f'X_val_sample: {X_val_sample.shape}')

X_train_sample: (800000, 52)
X_val_sample: (200000, 52)

In [0]:
market_train.isnull().any()

Unnamed: 0                    False
assetCode                     False
volume                        False
close                         False
open                          False
returnsClosePrevRaw1          False
returnsOpenPrevRaw1           False
returnsClosePrevMktres1       False
returnsOpenPrevMktres1        False
returnsClosePrevRaw10         False
returnsOpenPrevRaw10          False
returnsClosePrevMktres10      False
returnsOpenPrevMktres10       False
returnsOpenNextMktres10       False
close_open_diff               False
volume_money_mean             False
binary_returnsNextMktres10    False
cluster_open_close            False
cluster_volume                False
cluster_prev_returns          False
rolling_average_close_mean    False
rolling_average_vol_mean      False
rolling_average_close_std     False
rolling_average_vol_std       False
moving_average_7_day          False
ewma                          False
date                          False
close_to_open                 False
relevance                     False
sentimentClass                False
sentimentNegative             False
sentimentNeutral              False
sentimentPositive             False
noveltyCount24H               False
noveltyCount7D                False
volumeCounts24H               False
volumeCounts7D                False
sourceTimestamp               False
urgency                       False
takeSequence                  False
bodySize                      False
companyCount                  False
sentenceCount                 False
firstMentionSentence          False
tf_score                      False
assetCodesLen                 False
asset_sentiment_count         False
len_audiences                 False
assetCodeT                    False
dtype: bool

In [0]:
# sigma_score function is considered as a custom evaluation metric for xgboost
# example of how custom evaluation function is incorporated into xgboost's training can be found here : https://github.com/dmlc/xgboost/blob/master/demo/guide-python/custom_objective.py
def sigma_score(y_t,r_t,df_t):
    
    # get y_target values
    labels = r_t
    # call time parameter to be used for grouping, so that we can add x_t values for each day
    df_time = df_t
    
    #calculate x_t and score as specified by the competition
    x_t = pd.Series(y_t*labels)
    x_t_sum = x_t.groupby(df_time).sum()    
    score = (x_t_sum.mean())/(x_t_sum.std())
    return 'sigma_score', round(score,5)

In [0]:
from sklearn.metrics import log_loss
def evaluate_model(X_train_sample, y_train_sample, X_val_sample, y_val_sample, params):
    params['n_jobs'] = 2  # Use 2 cores/threads
    #model = XGBClassifier(**params)
    model = LGBMClassifier(**params)
    #model.fit(df.iloc[train_index], target.iloc[train_index])
    #return log_loss(target.iloc[test_index], model.predict_proba(df.iloc[test_index]))
    model.fit(X_train_sample, y_train_sample)
    return log_loss(y_val_sample, model.predict_proba(X_val_sample))

In [0]:
param_grid = {
    'learning_rate': [0.15, 0.1, 0.05, 0.02, 0.01],
    'num_leaves': [i for i in range(12, 90, 6)],
    'n_estimators': [50, 200, 400, 600, 800],
    'min_child_samples': [i for i in range(10, 100, 10)],
    'colsample_bytree': [0.8, 0.9, 0.95, 1],
    'subsample': [0.8, 0.9, 0.95, 1],
    'reg_alpha': [0.1, 0.2, 0.4, 0.6, 0.8],
    'reg_lambda': [0.1, 0.2, 0.4, 0.6, 0.8],
}

best_eval_score = 0
for i in range(100):  # Hundred runs
    params = {k: np.random.choice(v) for k, v in param_grid.items()}
    score = evaluate_model(X_train_sample, y_train_sample, X_val_sample, y_val_sample, params)
    if score < best_eval_score or best_eval_score == 0:
        best_eval_score = score
        best_params = params
print("Best evaluation logloss", best_eval_score)

Best evaluation logloss 0.6878810033565925

In [0]:
from sklearn.model_selection import GridSearchCV
MODEL = 'RF'
parameters = {'max_depth':[ 3 , 5, 7],
              'n_estimators':[10, 25, 50, 100],
              'random_state':[42]}
def perform_grid_search(X_data, y_data):
    if MODEL == 'RF':
        rf = RandomForestClassifier(criterion='entropy')
    else:
        rf = GradientBoostingClassifier()
    
    clf = GridSearchCV(rf, parameters, cv=4, scoring='roc_auc', n_jobs=3)
    
    clf.fit(X_data, y_data)
    
    print(clf.cv_results_['mean_test_score'])
    
    return clf.best_params_['n_estimators'], clf.best_params_['max_depth']

In [0]:

n_estimator, depth = perform_grid_search(X_train_sample, y_train_sample)
c_random_state = 42
print(n_estimator, depth, c_random_state)

[0.53561623 0.53635244 0.5385174  0.53833496 0.53473664 0.5376032
 0.53965403 0.54009973 0.53436889 0.53703035 0.53918291 0.54020553]
100 7 42

In [0]:
rfc = ensemble.RandomForestClassifier(n_estimators=200, criterion='gini',max_depth = 10, max_features=0.6, n_jobs=-1, random_state=23)
%time rfc.fit(X_train_sample, y_train_sample)

CPU times: user 25min 48s, sys: 515 ms, total: 25min 48s
Wall time: 6min 32s

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=10, max_features=0.6, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=-1, oob_score=False, random_state=23, verbose=0,
                       warm_start=False)

In [0]:
print_accuracy(rfc, X_train_sample, y_train_sample, X_val_sample, y_val_sample)

Training Accuracy Score:  0.64610820798568
Validation Accuracy Score:  0.5295346062052506

In [0]:
# Feature Importance
title = 'Feature Importance:'
figsize = (15, 15)

feat_imp = pd.DataFrame({'Importance':rfc.feature_importances_})    
feat_imp['feature'] = X_train_sample.columns
feat_imp.sort_values(by='Importance', ascending=False, inplace=True)
feat_imp = feat_imp

feat_imp.sort_values(by='Importance', inplace=True)
feat_imp = feat_imp.set_index('feature', drop=True)
feat_imp.plot.barh(title=title, figsize=figsize)
plt.xlabel('Feature Importance Score')
plt.show()

In [0]:
X_train_sample.shape

(415644, 44)

In [0]:
import lightgbm as lgb
params = {'learning_rate': 0.01, 'max_depth': 12, 'boosting': 'gbdt', 'objective': 'binary', 'metric': 'auc', 'is_training_metric': True, 'seed': 42}
model = lgb.train(params, train_set=lgb.Dataset(X_train_sample, label=y_train_sample), num_boost_round=2000,
                  valid_sets=[lgb.Dataset(X_val_sample, label=y_val_sample), lgb.Dataset(X_val_sample, label=y_val_sample)],
                  verbose_eval=100, early_stopping_rounds=100)

Training until validation scores don't improve for 100 rounds.
[100]	valid_0's auc: 0.561153	valid_1's auc: 0.561153
Early stopping, best iteration is:
[64]	valid_0's auc: 0.561657	valid_1's auc: 0.561657

In [45]:
import xgboost as xgb
from xgboost import XGBClassifier
model_xgb = xgb.XGBClassifier(n_estimators = 400,max_depth=4)
model_xgb.fit(X_train_sample, y_train_sample)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=4,
              min_child_weight=1, missing=None, n_estimators=400, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

Training Accuracy Score:  0.569510625
Validation Accuracy Score:  0.54483

In [26]:
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeClassifier
N_THREADS = -1
RANDOM_SEED = 23
model_extree = ExtraTreesClassifier(n_estimators=75, max_depth=8, min_samples_split=30, min_samples_leaf=16, n_jobs=N_THREADS, random_state=RANDOM_SEED)
model_extree.fit(X_train_sample, y_train_sample)

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
                     max_depth=8, max_features='auto', max_leaf_nodes=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=16, min_samples_split=30,
                     min_weight_fraction_leaf=0.0, n_estimators=75, n_jobs=-1,
                     oob_score=False, random_state=23, verbose=0,
                     warm_start=False)

In [27]:
print_accuracy(model_extree, X_train_sample, y_train_sample, X_val_sample, y_val_sample)

Training Accuracy Score:  0.5545525
Validation Accuracy Score:  0.50787

In [28]:
from sklearn.linear_model import RidgeClassifier
model_lr0 = RidgeClassifier(fit_intercept=False)
model_lr0.fit(X_train_sample, y_train_sample)

model_lr1 = RidgeClassifier(fit_intercept=False)
model_lr1.fit(X_train_sample, y_train_sample)

model_lr2 = RidgeClassifier(fit_intercept=False)
model_lr2.fit(X_train_sample, y_train_sample)

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=False,
                max_iter=None, normalize=False, random_state=None,
                solver='auto', tol=0.001)

In [29]:
print_accuracy(model_lr1, X_train_sample, y_train_sample, X_val_sample, y_val_sample)

Training Accuracy Score:  0.55159625
Validation Accuracy Score:  0.526395

In [0]:
def print_mix_accuracy(dic_model,X,y):
    predict = np.zeros(len(X))
    for model , weight in dic_model.items():
        predict = np.add(predict, weight* model.predict(X))
    predict = predict > 0.5
    predict = 1*predict
    print (accuracy_score(predict, y))
def mix_predict(dic_model,X):
    predict_prob = np.zeros(len(X))
    for model , weight in dic_model.items():
        predict_prob = np.add(predict_prob, weight* model.predict(X))
    predict = predict_prob > 0.5
    predict = 1*predict
    return predict, predict_prob

In [0]:
#dic_model  = {model_extree: 0.6, model_lr0: 0.22, model_lr1: 0.03, model_lr2: 0.15}
dic_model  = {model_extree: 0.4, model_lr0: 0.25, model_lr1: 0.13, model_lr2: 0.22}

In [43]:
print_mix_accuracy(dic_model,X_train_sample, y_train_sample)

0.55159625

In [44]:

_,y_t = mix_predict(dic_model,X_val_sample)#[:,0]

y_t = 2*y_t - 1
sigma_score(y_t,r_v,time_v)
print("test : ",sigma_score(y_t,r_v,time_v))

_,y_t = mix_predict(dic_model,X_train_sample)#[:,0]
y_t = 2*y_t - 1
sigma_score(y_t,r_t,time_t)
print("train : ",sigma_score(y_t,r_t,time_t))

test :  ('sigma_score', 0.21755)
train :  ('sigma_score', 0.74225)

In [0]:
!git clone https://github.com/namnnb47/predict-stock

Cloning into 'predict-stock'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 18 (delta 6), reused 14 (delta 4), pack-reused 0
Unpacking objects: 100% (18/18), done.

In [0]:
#!git init
#!git config --global user.email "datctbk@yahoo.com"
#!git config --global user.name "datctbk"
!git remote add master https://datctbk:iPhone1980github@github.com/namnnb47/predict-stock

fatal: remote master already exists.

In [0]:
#!git remote rm origin
#!git push  --set-upstream master master
!git status

On branch master
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

	modified:   vef_2sigma_modeling.ipynb

no changes added to commit (use "git add" and/or "git commit -a")